# Dataset Overview

In [ ]:
import numpy as np
import pandas as pd
import datetime
import re
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pd.set_option('max_colwidth' , None)

df = pd.read_csv('Developer Kaki _ Developer Salary Survey 2021 Results - Form responses 1.csv')
df.head(3)

,Timestamp,Gender,Age,Nationality,Current Country of Residence,Current State of Residence,Current City of Residence,Highest Level of Education,Name of Highest Degree Obtained,Name of School or University,...,Company Location,Company Industry,What is the size of your company?,What is the size of your tech team?,What's the name of your company? [Optional],Satisfaction Level of Current Job,Years of Experience,Number of past employments/jobs (excluding the current one),What was your starting monthly salary?,Indicate in 3-character currency code for starting monthly salary
0,26/07/2021 20:04:28,Male,41,Malaysian,Singapore,NaN,NaN,Masters Degree,Masters of Computer Science,CMU,...,Singapore,Robotics,11-50 employees,2 - 10 people,NaN,10,20,5,1000.0,NaN
1,26/07/2021 20:04:50,Male,28,Malaysian,Malaysia,Negeri Sembilan,Tampin,"Pre-university (STPM, A-Levels, Matriculation, CPU, IB, etc.)",NaN,Taruc,...,"Johor, Malaysia","Transport, Logistics",1-10 employees,2 - 10 people,NaN,8,5,6,4500.0,NaN
2,26/07/2021 20:05:11,Male,23,Malaysian,Malaysia,Kuala Lumpur,Kuala Lumpur,Undergraduate Degree,Bachelor of Computer Science,Monash University,...,"Kuala Lumpur, Malaysia",Space planning,201-1000 employees,51 - 200 people,Configura,7,0,0,5000.0,NaN

In [5]:
df.shape

(536, 33)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 33 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Timestamp                                                          536 non-null    object
 1   Gender                                                             536 non-null    object
 2   Age                                                                536 non-null    int64
 3   Nationality                                                        535 non-null    object
 4   Current Country of Residence                                       536 non-null    object
 5   Current State of Residence                                         499 non-null    object
 6   Current City of Residence                                          493 non-null    object
 7   Highest Level of Education                                         536 non-null    object
 8   Name of Highest Degree Obtained                                    487 non-null    object
 9   Name of School or University                                       477 non-null    object
 10  Is your degree tech related?                                       518 non-null    object
 11  Did you go through a bootcamp to learn technical skills?           536 non-null    object
 12  Professional Certification (Eg. CCNA, CEH, GCP Cloud Associate)    536 non-null    object
 13  Name of Bootcamp Course                                            54 non-null     object
 14  Name of Professional Certification(s)                              87 non-null     object
 15  Job Title                                                          536 non-null    object
 16  What is your currency code?                                        536 non-null    object
 17  What is your current monthly base salary?                          536 non-null    int64
 18  What is your current bonus compensation per year?                  484 non-null    object
 19  What is your current equity (stock) compensation per year?         415 non-null    object
 20  How many days of annual leave are you entitled to?                 536 non-null    int64
 21  Company Benefits                                                   535 non-null    object
 22  What technologies do you use for work on a regular basis?          536 non-null    object
 23  Company Location                                                   536 non-null    object
 24  Company Industry                                                   536 non-null    object
 25  What is the size of your company?                                  536 non-null    object
 26  What is the size of your tech team?                                536 non-null    object
 27  What's the name of your company? [Optional]                        83 non-null     object
 28  Satisfaction Level of Current Job                                  536 non-null    int64
 29  Years of Experience                                                536 non-null    object
 30  Number of past employments/jobs (excluding the current one)        536 non-null    object
 31  What was your starting monthly salary?                             536 non-null    float64
 32  Indicate in 3-character currency code for starting monthly salary  182 non-null    object
dtypes: float64(1), int64(4), object(28)
memory usage: 138.3+ KB

In [13]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,536.0,27.712687,4.413182,15.00,24.0,27.0,30.0,44.0
What is your current monthly base salary?,536.0,25108.158582,397562.281905,1.00,3900.0,5500.0,8000.0,9200000.0
How many days of annual leave are you entitled to?,536.0,105.854478,1712.350017,-1.00,14.0,14.0,18.0,38400.0
Satisfaction Level of Current Job,536.0,7.119403,1.911284,1.00,6.0,7.0,8.0,10.0
What was your starting monthly salary?,536.0,3752.566399,10021.019761,0.01,2500.0,3000.0,3500.0,230000.0

In [23]:
def null_percentage():
    col = []
    perc = []
    null_col = [col for col in df.columns if df[col].isnull().any() == True]
    for i in null_col:
        null_perc = (df[i].isnull().sum() / len(df)) * 100
        col.append(i)
        perc.append(null_perc)
        
    return pd.DataFrame(data=zip(col,perc) ,columns=['Columns','Null Percentage'])

In [27]:
null_percentage()

,Columns,Null Percentage
0,Nationality,0.186567
1,Current State of Residence,6.902985
2,Current City of Residence,8.022388
3,Name of Highest Degree Obtained,9.141791
4,Name of School or University,11.007463
5,Is your degree tech related?,3.358209
6,Name of Bootcamp Course,89.925373
7,Name of Professional Certification(s),83.768657
8,What is your current bonus compensation per year?,9.701493
9,What is your current equity (stock) compensation per year?,22.574627
10,Company Benefits,0.186567
11,What's the name of your company? [Optional],84.514925
12,Indicate in 3-character currency code for starting monthly salary,66.044776

Columns which have a threshold of 60% of more null values shall be dropped from the dataset

# Data Preprocessing & Cleaning

1. Data columns renaming

In [37]:
df.rename(columns={
    'What was your starting monthly salary?':'Starting Monthly Salary',
    'Number of past employments/jobs (excluding the current one)':'Past Employments',
    'What is the size of your tech team?':'Tech Team Size',
    'What is the size of your company?':'Company Size',
    'What technologies do you use for work on a regular basis?':'Technologies Used',
    'Is your degree tech related?':'Degree in Tech',
    'How many days of annual leave are you entitled to?':'Annual Leave Entitled',
    'What is your current equity (stock) compensation per year?':'Stock Compensation (Year)',
    'What is your current bonus compensation per year?':'Bonus Compensation (Year)',
    'What is your currency code?': 'Currency',
    'What is your current monthly base salary?':'Monthly Base Salary',
    'Did you go through a bootcamp to learn technical skills?':'Attended Bootcamp'
    }, inplace =True)

df.columns

Index(['Timestamp', 'Gender', 'Age', 'Nationality',
       'Current Country of Residence', 'Current State of Residence',
       'Current City of Residence', 'Highest Level of Education',
       'Name of Highest Degree Obtained', 'Name of School or University',
       'Degree in Tech', 'Attended Bootcamp',
       'Professional Certification (Eg. CCNA, CEH, GCP Cloud Associate)',
       'Name of Bootcamp Course ', 'Name of Professional Certification(s)',
       'Job Title', 'Currency', 'Monthly Base Salary',
       'Bonus Compensation (Year)', 'Stock Compensation (Year)',
       'Annual Leave Entitled', 'Company Benefits', 'Technologies Used',
       'Company Location', 'Company Industry', 'Company Size',
       'What is the size of your tech team? ',
       'What's the name of your company? [Optional]',
       'Satisfaction Level of Current Job', 'Years of Experience',
       'Past Employments', 'Starting Monthly Salary',
       'Indicate in 3-character currency code for starting monthly salary'],
      dtype='object')

2. Handling missing Data

In [ ]:
for col in df.dtypes[df.dtypes == 'object'].index:

In [131]:
def clean_categorical(col):
    
    if(df[col].isnull().sum() > 0):
        df[col] = df[col].fillna(df[col].value_counts().idxmax())
            
    return df[col]

In [111]:
def clean_numerical():
    if(df[col].isnull().sum() > 0):
        df[col] = pd.to_numeric(df[col], errors = 'coerce')
        df[col] = df[col].fillna(df[col].mean())
            
           
    return df[col]

In [122]:
df_new = pd.concat([clean_categorical() , clean_numerical()], axis=1)
df_new.head()

,Indicate in 3-character currency code for starting monthly salary,Timestamp,Gender,Age,Nationality,Current Country of Residence,Current State of Residence,Current City of Residence,Highest Level of Education,Name of Highest Degree Obtained,...,Company Location,Company Industry,Company Size,What is the size of your tech team?,What's the name of your company? [Optional],Satisfaction Level of Current Job,Years of Experience,Past Employments,Starting Monthly Salary,Indicate in 3-character currency code for starting monthly salary
0,MYR,26/07/2021 20:04:28,Male,41,Malaysian,Singapore,Selangor,Kuala Lumpur,Masters Degree,Masters of Computer Science,...,Singapore,Robotics,11-50 employees,2 - 10 people,-,10,20,5,1000.0,MYR
1,MYR,26/07/2021 20:04:50,Male,28,Malaysian,Malaysia,Negeri Sembilan,Tampin,"Pre-university (STPM, A-Levels, Matriculation, CPU, IB, etc.)",Bachelor of Computer Science,...,"Johor, Malaysia","Transport, Logistics",1-10 employees,2 - 10 people,-,8,5,6,4500.0,MYR
2,MYR,26/07/2021 20:05:11,Male,23,Malaysian,Malaysia,Kuala Lumpur,Kuala Lumpur,Undergraduate Degree,Bachelor of Computer Science,...,"Kuala Lumpur, Malaysia",Space planning,201-1000 employees,51 - 200 people,Configura,7,0,0,5000.0,MYR
3,MYR,26/07/2021 20:05:17,Female,25,Malaysian,Malaysia,Selangor,Kuala Lumpur,Undergraduate Degree,Bachelor of Computer Science,...,"California, United States",Business,"1,001-10,000 employees",11 - 50 people,-,10,3,2,3000.0,MYR
4,MYR,26/07/2021 20:05:33,Male,22,Malaysian,Malaysia,Selangor,Puchong,Undergraduate Degree,Bachelor of Software System Development,...,Petaling Jaya,Business,201-1000 employees,2 - 10 people,-,8,1,0,4000.0,MYR

In [ ]:
def clean_company_size(x):
    x = x.replace(',','').replace(r'employees' , ' ')
    #x_split = x.split(x , '-')
    return x 

temp['What is the size of your company?'] = temp['What is the size of your company?'].apply(clean_company_size)
#df['What is the size of your company?'].apply(type).value_counts()
temp['What is the size of your company?'].value_counts().plot(kind='barh')
plt.show()